= form_for :coordinator do |f|
  %h1 New Coordinator
  .table-responsive
    %table.table
      %tbody
        %tr
          %td
            %strong First Name:
          %td
            = f.text_field :first_name
        %tr
          %td
            %strong Last Name:
          %td
            = f.text_field :last_name
        %tr
          %td
            %strong Email:
          %td
            = f.email_field :email
        %tr
          %td
            %strong Admin:
          %td
            = f.check_box :admin
        %tr
          %td
            %strong Moderator For:
          %td
            -# = f.select :id, :moderator_for, Agency.all['name']
  = f.submit
