= link_to('Go Back', needs_path, class: "btn btn-default small-screen-only")
%br.small-screen-only
%br.small-screen-only

%p{:style => "font-size:20px;color:#777777;"}
  = @need.agency_name
%p{:style => "font-size:40px;font-weight:bold;"}
  = @need.title

- if @need.start_date_time != nil
  %p
    %h2 Start Time:
    %span{:style => "font-size:20px;"}
      = @need.formatted_start_datetime
  %br
- if @need.end_date_time != nil
  %p
    %h2 End Time:
    %span{:style => "font-size:20px;"}
      = @need.formatted_end_datetime
  %br

- if @need.description != nil
  %p
    %h2 Description:
    %br
    = @need.description.html_safe
  %br

- if @need.volunteers_needed != nil && @need.volunteers_needed != 0
  %p
    %h2 Volunteers Needed:
    = @need.volunteers_needed
  %p
    %h2 Volunteers Signed Up:
    = @need.volunteers_signed_up

%p
  %h2 Location:
  %span{:style => "font-size:20px;"}
    = @need.location
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "300px", :width => "100%", :src => "https://www.google.com/maps/embed/v1/place?key=#{ENV["GOOGLE_MAPS_API_KEY"]}&q=#{@need.no_space_location}", :style => "border:0;padding-bottom:20px;"}

%br

- if coordinator_signed_in?
  %h3 Volunteers Signed Up Currently:
  %p
    .table-responsive
      %table.table.table-striped{:style => "width:100%;"}
        %thead{:style => "font-size:15px;"}
          %tr
            %th First Name
            %th Last Name
            %th Email
        %tbody
          - GalaxyNeedFetcher.new.get_volunteers_signed_up(@need.galaxy_id).each do |volunteer|
            %tr
              %td= volunteer['firstName'].downcase.titleize
              %td= volunteer['lastName'].downcase.titleize
              %td= volunteer['email']

  = mail_to("","Email Volunteers",
    subject: get_email_subject_line(@need),
    cc: "cco@ku.edu",
    bcc:get_volunteers_emails(@need),
    class:"btn btn-success btn-block")
%br
%br

= link_to('Sign Me Up!', "#{@need.need_link}", class: "btn btn-block btn-lg btn-primary")
%br
%br

= link_to('Go Back', needs_path, class: "btn btn-default btn-lg small-screen-only")
%br.small-screen-only
%br.small-screen-only
%br.small-screen-only
