<h1>List of Needs:</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @need.each do |need| %>
    <tr>
      <td><%= need.title %></td>
      <td><%= need.description %></td>
      <td><%= link_to 'Show', need_path(need) %></td>
      <td><%= link_to 'Edit', edit_need_path(need) %></td>
      <td><%= link_to 'Destroy', need_path(need),
              method: :delete,
              data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end %>

</table>

<%= link_to 'Create New', new_need_path %>
