= form_for :need, url: needs_path do |f|
  %h1 New Need
  %p
    = f.label :title
    %br/
    = f.text_field :title
  %p
    = f.label :agency
    %br/
    = f.text_field :agency
  %p
    = f.label :description
    %br/
    = f.text_area :description
  %p
    = f.label :location
    %br/
    = f.text_area :location
  %p
    = f.label :start_time
    %br/
    = f.datetime_select :start_time
  %p
    = f.label :end_time
    %br/
    = f.datetime_select :end_time
  %p
    = f.label :volunteers_needed
    %br/
    = f.number_field :volunteers_needed
  %p
    = f.label :volunteers_signed_up
    %br/
    = f.number_field :volunteers_signed_up
  %p
    = f.submit
