%h1
  = @need.title
%h4
  = @need.agency
%table{:style => "width:100%;"}
  %tbody
    %tr
      %td
        %strong Starts:
      %td
        = @need.formatted_datetime(@need.start_time)
    %tr
      %td
        %strong Ends:
      %td
        = @need.formatted_datetime(@need.end_time)
    %tr
      %td
        %strong Description:
      %td
        = @need.description
    %tr
      %td
        %strong Location:
      %td
        = @need.location
    %tr
      %td
        %strong Volunteers Needed:
      %td
        = @need.volunteers_needed
    %tr
      %td
        %strong Volunteers Signed Up:
      %td
        = @need.volunteers_signed_up
%p

%iframe{:allowfullscreen => "", :frameborder => "0", :height => "300", :width => "400", :src => "https://www.google.com/maps/embed/v1/place?key=#{ENV["GOOGLE_MAPS_API_KEY"]}&q=#{@need.no_space_location}", :style => "border:0"}

%br
= link_to 'Go Back', needs_path, class: "btn btn-primary"
