%p{:style => "font-size:20px;color:#777777;"}
  = @need.agency
%p{:style => "font-size:40px;font-weight:bold;"}
  = @need.title

%p
  %strong Starts:
  = @need.formatted_datetime(@need.start_time)
%p
  %strong Ends:
  = @need.formatted_datetime(@need.end_time)
%br

%p
  %strong Description:
  %br
  = @need.description
%br
%p
  %strong Volunteers Needed:
  = @need.volunteers_needed
%p
  %strong Volunteers Signed Up:
  = @need.volunteers_signed_up

%p
  %strong Location:
  = @need.location
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "300px", :width => "400px", :src => "https://www.google.com/maps/embed/v1/place?key=#{ENV["GOOGLE_MAPS_API_KEY"]}&q=#{@need.no_space_location}", :style => "border:0;padding-bottom:20px;"}

%br
%a{:style => ""}= link_to 'Sign Me Up!', needs_path, class: "btn btn-lg btn-primary"

%br
%a{:style => ""}= link_to 'Go Back', needs_path, class: "btn"
