%div{:style => "float:right;"}
  %br
  = link_to('Fetch Needs', admin_galaxy_fetch_needs_path, class: "btn btn-primary", method: :put)
  = link_to('Destroy All Needs', admin_database_destroy_all_needs_path, class: "btn btn-danger",
      method: :delete, data: { confirm: 'Are you sure?' })
%h1 Administrate Needs

%br
%br

- if @needs.count != 0
  .table-responsive
    %table.table.table-striped{:style => "width:100%;"}
      %thead{:style => "font-size:15px;"}
        %tr
          %th{:style => "width:25%;"} Need Name
          %th{:style => "width:10%;"} Date
          %th{:style => "width:25%;"} Agency
          %th{:style => "width:10%;"} Volunteers Needed
          %th{:style => "width:10%;"} Volunteers Signed Up
          %th{:style => "width:10%;"} Actions
          %th{:style => "width:10%;"}
      %tbody
        - @needs.each do |need|
          %tr
            %td= need.title
            %td= need.formatted_date
            %td= need.agency_name
            %td= need.volunteers_needed.to_s
            %td= need.volunteers_signed_up
            %td= link_to 'View', admin_need_path(need)
            %td= link_to 'Destroy', admin_need_path(need), |
                method: :delete,                    |
                data: { confirm: 'Are you sure?' }  |
- else
  %div{:style => "text-align:center;"}
    %h3 No needs here!
    %h4 (Try fetching?)

%br
.digg_pagination{:style => "text-align:center;"}
  = will_paginate @needs
%br
%br
%br
%br
