%h1
  = @need.title
%p
  %strong Start Date Time:
%p
  = @need.start_date_time
%p
  %strong End Date Time:
%p
  = @need.end_date_time
%p
  %strong Agency:
%p
  = @need.agency_name
%p
  %strong Volunteers Needed:
%p
  = @need.volunteers_needed.to_s == "" ? "0" : @need.volunteers_needed.to_s
%p
  %strong Volunteers Signed Up:
%p
  = @need.volunteers_signed_up
%p
  .table-responsive
    %table.table.table-striped{:style => "width:100%;"}
      %thead{:style => "font-size:15px;"}
        %tr
          %th First Name
          %th Last Name
          %th Email
      %tbody
        - GalaxyNeedFetcher.new.get_volunteers_signed_up(@need.galaxy_id).each do |volunteer|
          %tr
            %td= volunteer['firstName'].downcase.titleize
            %td= volunteer['lastName'].downcase.titleize
            %td= volunteer['email']
%p
  %strong Galaxy ID:
%p
  = @need.galaxy_id
%p
  %strong Link:
%p
  = link_to('Galaxy Page', "#{@need.need_link}", class: "btn btn-default")

%br
= link_to('Return', admin_needs_path, class: "btn btn-primary btn-lg")

%br
%br
%br
