.form-group.col-xs-offset-1.col-xs-10.col-sm-offset-2.col-sm-8.col-md-offset-4.col-md-4
  %h2 Change your password
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.input :reset_password_token, as: :hidden
    .field
      = f.input :password, label: "New password", autofocus: true, autocomplete: "off"
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
        %br/
        %br
    .field
      = f.input :password_confirmation, label: "Confirm new password", autocomplete: "off"
    .actions
      = f.button :submit, "Change my password"
  = render "devise/shared/links"
