.form-group.col-xs-offset-1.col-xs-10.col-sm-offset-2.col-sm-8.col-md-offset-4.col-md-4
  %h2 Forgot your password?
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    = f.input :email
    = f.button :submit, "Send me reset password instructions"
  %br
  = render "devise/shared/links"
