%h1
  = @agency.name
%p
  %strong Created:
%p
  = @agency.created_at
%p
  %strong Updated:
%p
  = @agency.updated_at
%p
  %strong Coordinators:
%p
  %table.table-striped.table-responsive{:style => "width:100%"}
    %thread
      %tr{:style => "font-weight:bold;"}
        %td First Name
        %td Last Name
        %td Email
    %tbody
      - @agency.coordinators.each do |coordinator|
        %tr
          %td= coordinator.first_name
          %td= coordinator.last_name
          %td= coordinator.email
%p
  %strong Galaxy ID:
%p
  = @agency.galaxy_id

%p
  %strong Needs:
%p
  %table.table-striped{:style => "width:100%"}
    %tbody
      - @agency.needs.each do |need|
        %tr
          %td= need.title
          %td= need.time


= link_to('Return', agencies_path, class: "btn btn-primary")
