%div{:style => "float:right;"}
  %br
  = link_to('Fetch Agencies', admin_galaxy_fetch_agencies_path, class: "btn btn-primary", method: :put)
  = link_to('Destroy All Agencies', admin_database_destroy_all_agencies_path, class: "btn btn-danger",
      method: :delete, data: { confirm: 'Are you sure?' })
%h1 Administrate Agencies

%br
%br

- if @agencies.count != 0
  .table-responsive
    %table.table.table-striped{:style => "width:100%;"}
      %thead{:style => "font-size:15px;"}
        %tr
          %th{:style => "width:40%;"} Program Name
          %th{:style => "width:25%;"} Coordinators
          %th{:style => "width:25%;"} Current Number of Needs
          %th{:style => "width:10%;"} Actions
      %tbody
        - @agencies.each do |agency|
          %tr
            %td= agency.name
            %td= agency.list_of_coordinators.html_safe
            %td= agency.needs.count
            %td= link_to 'View', admin_agency_path(agency)
- else
  %div{:style => "text-align:center;"}
    %h3 No agencies here!
    %h4 (Try fetching?)

%br
%br
.digg_pagination{:style => "text-align:center;"}
  = will_paginate @agencies
%br
%br
%br
%br
