%h1
  = @agency.name
%h3
  %strong Created:
%p
  = @agency.created_at
%h3
  %strong Updated:
%p
  = @agency.updated_at

%h3
  %strong Coordinators:
- if @agency.coordinators.count != 0
  %p
    %table.table-striped.table-responsive{:style => "width:100%"}
      %thead
        %tr{:style => "font-weight:bold;"}
          %td First Name
          %td Last Name
          %td Email
      %tbody
        - @agency.coordinators.each do |coordinator|
          %tr
            %td= coordinator.first_name
            %td= coordinator.last_name
            %td= coordinator.email
- else
  %p
    No coordinators!

%h3
  %strong Needs:
- if @agency.needs.count != 0
  %p
    %table.table-striped{:style => "width:100%"}
      %thead
        %tr{:style => "font-weight:bold;"}
          %td= "Need Name"
          %td= "Start Date & Time"
          %td= "End Date & Time"
      %tbody
        - @agency.needs.order(:start_date_time).each do |need|
          %tr
            %td= need.title
            %td= need.formatted_start_datetime
            %td= need.formatted_end_datetime
- else
  %p
    No needs!

= link_to('Return', admin_agencies_path, class: "btn btn-primary")
