.form-group.col-xs-offset-1.col-xs-10.col-sm-offset-2.col-sm-8.col-md-offset-4.col-md-4
  %h2 Log in
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.input :email
    = f.input :password
    - if devise_mapping.rememberable?
      = f.input :remember_me, as: :boolean
    = f.button :submit, "Log In"
  %br
  = render "devise/shared/links"
