= simple_form_for @coordinator, url: admin_coordinator_path(@coordinator) do |f|
  %h1 Edit Coordinator
  = f.input :first_name, autofocus: true
  = f.input :last_name
  = f.input :email
  -# = link_to("Send Reset Password Link", password_path(@coordinator), method: :post)
  = f.input :agency_ids, collection: Agency.all, as: :check_boxes
  = f.button :submit

%br
%br
%br
