= simple_form_for @coordinator, url: admin_coordinators_path do |f|
  %h1 New Coordinator
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  = f.input :password
  = f.input :agency_ids, collection: Agency.all, as: :check_boxes
  = f.button :submit
