<h1>Administrate Users</h1>

        <h2 class="sub-header">User List</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>First</th>
                <th>Last</th>
                <th>KU ID</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Moderator For</th>
                <th>Actions</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.ku_id %></td>
                <td><%= user.email %></td>
                <td><%= user.admin %></td>
                <td><%= user.moderator_for %></td>
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Destroy', user_path(need),
                        method: :delete,
                        data: { confirm: 'Are you sure?' }%></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
