%div{:style => "float:right;"}
  %br
  = link_to('Fetch Users', admin_galaxy_fetch_users_path, class: "btn btn-primary", method: :put)
  = link_to('Destroy All Users', admin_database_destroy_all_users_path, class: "btn btn-danger",
      method: :delete, data: { confirm: 'Are you sure?' })
%h1 Administrate Users

%br
%br

- if @users.count != 0
  .table-responsive
    %table.table.table-striped{:style => "width:100%;table-layout:fixed;"}
      %thead{:style => "font-size:15px;"}
        %tr
          %th{:style => "width:25%;"} First
          %th{:style => "width:25%;"} Last
          %th{:style => "width:35%;"} Email
          %th{:style => "width:15%;"} Actions
      %tbody
        - @users.each do |user|
          %tr
            %td= user.first_name
            %td= user.last_name
            %td= user.email
            %td= link_to 'View', admin_user_path(user)
- else
  %div{:style => "text-align:center;"}
    %h3 No users here!
    %h4 (Try fetching?)

%br
%div{:style => "text-align:center;"}
  - if User.all.count == @users.count
  - elsif params['page'].to_s == "" || params['page'].to_i <= 0
    = link_to('Next Page', admin_users_path(:page => 1), class: "btn btn-primary")
  - elsif @users.count == @amount
    = link_to('Previous Page', admin_users_path(:page => params['page'].to_i-1), class: "btn btn-primary")
    = link_to('Next Page', admin_users_path(:page => params['page'].to_i+1), class: "btn btn-primary")
  -else
    = link_to('Previous Page', admin_users_path(:page => params['page'].to_i-1), class: "btn btn-primary")
%br
%br
%br
%br
