%h1 Show User
.table-responsive
  %table.table
    %tbody
      %tr
        %td
          %strong First Name:
        %td
          = @user.first_name
      %tr
        %td
          %strong Last Name:
        %td
          = @user.last_name
      %tr
        %td
          %strong KU ID:
        %td
          = @user.ku_id
      %tr
        %td
          %strong Email:
        %td
          = @user.email
      %tr
        %td
          %strong Admin:
        %td
          = @user.admin
      %tr
        %td
          %strong Moderator Fors:
        %td
          = @user.moderator_for
%button.btn.btn-default.btn-lg{:type => "button"}
  Done
