!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CCOWebapp
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .col-xs-12{:style => "width:100%;height:150px;background-color:#96CEB4"}
      %div{:style => "float:left;"}
        %h1
          Center for
          %br>/
          Community
          %br>/
          Outreach
      %div{:style => "float:right;padding-top:5px;"}
        - if coordinator_signed_in?
          .logged-in-tag Logged in as #{current_coordinator.email}
          = link_to('Logout', destroy_coordinator_session_path, :method => :delete, class: "btn btn-primary")
        - else
          = link_to('Login', new_coordinator_session_path, class: "btn btn-primary")
    .container-fluid
      .row
        .col-xs-12.col-sm-6.col-md-6.col-lg-4.sidebar{:style => "padding-left:0;"}
          .list-group
            %a.list-group-item.disabled{:style => "text-align:center;"}
              Upcoming Needs
            - @needs.each do |need|
              %a.list-group-item.need-item
                .d-flex
                  - if need.volunteers_signed_up == 0
                    .volunteer-box.none
                      %span.volunteers Volunteers
                      %div.volunteer-number
                        = need.volunteers_signed_up
                        \/ #{need.volunteers_needed}
                  - elsif need.volunteers_needed == need.volunteers_signed_up
                    .volunteer-box.full
                      %span.volunteers Volunteers
                      %div.volunteer-number
                        = need.volunteers_signed_up
                        \/ #{need.volunteers_needed}
                  - else
                    .volunteer-box
                      %span.volunteers Volunteers
                      %div.volunteer-number
                        = need.volunteers_signed_up
                        \/ #{need.volunteers_needed}
                  %span.agency-name= need.agency
                  %br/
                  %span.need-name= need.title
                  %br/
                  %span.need-time
                    = need.time_range(need.start_time, need.end_time)
            %a.list-group-item.list-group-item-action.load-more{:href => "#", style: "text-align:center;"}
              Load More
        .col-lg-offset-4.col-md-offset-6.page-body{:style => "padding-left:40px;padding-top:180px;"}
          = yield
    / jQuery (necessary for Bootstrap's JavaScript plugins)
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
    / Include all compiled plugins (below), or include individual files as needed
